.avatar-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    object-fit: cover;
}

.avatar-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .avatar-upload label {
        cursor: pointer;
        padding: 8px 20px;
        background-color: #007bff;
        color: white;
        border-radius: 10px;
    }

    .avatar-upload input[type="file"] {
        display: none;
    }

.btn-custom {
    background-color: var(--secondary-primary-color);
    color: white;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 1.4rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .btn-custom:hover {
        background-color: var(--btn-create);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }


.form-group {
    margin-top: 15px;
    font-size: 1.2rem; /* Tăng cỡ chữ để dễ đọc hơn */
}

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
    }


.form-control {
    font-size: 1.6rem; /* Tăng kích thước font chữ cho input */
    border-radius: 8px; /* Làm góc bo mềm hơn */
    border: 1px solid #ced4da; /* Giữ lại viền mềm */
}

    .form-control:focus {
        border-color: #007bff; /* Đổi màu viền khi input được chọn */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Tạo hiệu ứng khi focus */
    }


footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

    footer h3, footer h4 {
        color: #fff;
    }

.social-icons i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #fff;
}
