.logo_img {
    max-width: 70px;
    height: auto;
}

.profile .user_img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.table {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    overflow: hidden;
    font-size: 1.4rem;
    width: 100%;
    border-collapse: collapse;
}

    .table th {
        background-color: #7FB29D;
        color: white;
        padding: 12px;
        text-align: left;
    }

    .table td {
        padding: 12px;
        background-color: #fafafa;
        color: #333;
    }

    .table tr:hover {
        background-color: #f7f7f7;
    }

.btn-custom {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.4rem;
}

    .btn-custom:hover {
        background-color: #218838;
    }

.profile-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    text-align: center;
    padding: 20px;
    margin-top: 16%;
}


    .profile-card img {
        width: 100%;
        height: 100%;
        image-rendering: optimizeQuality;
        object-fit: cover;
        border-radius: 10%;
        margin-bottom: 15px;
    }

    .profile-card h4 {
        font-size: 1.6rem;
        color: #333;
    }

    .profile-card p {
        color: #666;
    }

.title-container {
    color: var(--text-color);
    font-weight: bold;
}

.btn-custom {
    background-color: var(--secondary-primary-color);
    color: white;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 1.4rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 700;
}

    .btn-custom:hover {
        background-color: #0056b3;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        color: white;
    }
