.ranking-title {
    font-size: 2.5rem;
    color: var(--linkedin-btn-bg-color);
    padding: 15px;
    font-weight: bold;
    padding-top: 20px;
}

@media (max-width: 991px) {
    .ranking-container {
        padding: 10px;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 575px) {
    .ranking-container {
        padding: 5px;
    }

    h2 {
        font-size: 1.8rem;
    }

    .table th, .table td {
        font-size: 0.9rem;
    }
}
