@page
@model BrainStormEra.Views.Certificate.ViewCertificateLearnerModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/Certificate/view-certificates.css">
    <link rel="icon" href="~/lib/img/BrainStormEra_logo.png" type="image/x-icon">
    <title>View Certificates</title>
</head>

<body>
    <div class="container">
        <h1 class="header">View Certificates</h1>
        <p class="sub-header">My Courses</p>
        <div class="certificate-item">
            <img src="~/lib/img/Certificate/certificates.png" alt="Certificate Icon">
            <div class="certificate-detail">
                <a href="#courseLink" class="course-link">C++ Programming Full Course</a>
                <p>Grade Achieved: 100%</p>
                <button class="link-button">
                    <img src="/assests/img/linkedinLogo.png" alt="LinkedIn Logo" class="linkedin-logo">
                    Add to LinkedIn
                </button>
            </div>
        </div>
        <div class="certificate-item">
            <img src="/assests/img/certificates.png" alt="Certificate Icon">
            <div class="certificate-detail">
                <a href="#courseLink" class="course-link">Python Programming Full Course</a>
                <p>Grade Achieved: 97.5%</p>
                <button class="link-button">
                    <img src="/assests/img/linkedinLogo.png" alt="LinkedIn Logo" class="linkedin-logo">
                    Add to LinkedIn
                </button>
            </div>
        </div>
        <div class="certificate-item">
            <img src="/assests/img/certificates.png" alt="Certificate Icon">
            <div class="certificate-detail">
                <a href="#courseLink" class="course-link">Java Programming Full Course</a>
                <p>Grade Achieved: 100%</p>
                <button class="link-button">
                    <img src="/assests/img/linkedinLogo.png" alt="LinkedIn Logo" class="linkedin-logo">
                    Add to LinkedIn
                </button>
            </div>
        </div>
        <div class="certificate-item">
            <img src="/assests/img/certificates.png" alt="Certificate Icon">
            <div class="certificate-detail">
                <a href="#courseLink" class="course-link">SQL Programming Full Course</a>
                <p>Grade Achieved: 100%</p>
                <button class="link-button">
                    <img src="/assests/img/linkedinLogo.png" alt="LinkedIn Logo" class="linkedin-logo">
                    Add to LinkedIn
                </button>
            </div>
        </div>
    </div>
</body>

</html>