/* Gradient Header */
.gradient-header {
    background: linear-gradient(to right,var(--main-color),
        var(--secondary-color));
    font-weight: bold;
}

/* Sidebar buttons customization */
.sidebar .btn {
    font-weight: bold;
    border-radius: 8px;
}

/* Ensure the card has full height */
.card {
    border-radius: 15px;
    height: 100%;
    /* Makes sure card takes full height of the parent */
}

.card-body {
    padding: 2rem;
}

/* Custom Delete button styling */
.btn-danger {
    width: 120px;
}