/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Table Styling */
.table,
.achievement-table {
    background-color: var(--linkedin-btn-bg-color);
    width: 100%;
    font-size: 2rem;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, 
.achievement-table th{
    background-color: var(--linkedin-btn-bg-color);
    color: var(--text-color-light);
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    border: none;
}

/* Center table content */
.table th,
.table td,
.achievement-table th,
.achievement-table td {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    font-size: 1.7rem;
}
.table td,
.achievement-table td {
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    border: none;
    font-weight: bold;
}
.achievement-table td img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Table Hover Effect */
.achievement-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Achievement Image Styling */
.achievement-table td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.icon-btn {
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon-btn:hover {
    color: var(--main-color);
}

/* Add Button */
.btn-add {
    background-color: var(--create-btn-bg-color);
    color: #fff;
    border: none;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn-add i {
    font-size: 1.2rem;
}

.btn-add:hover {
    background-color: var(--btn-create-hover);
}

/* Modal Styling */
.modal-content {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 200px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-header {
    background-color: var(--linkedin-btn-bg-color);
    color: #fff;
}

.modal-footer .btn-success {
    background-color: var(--create-btn-bg-color);
    border: none;
}

.modal-footer .btn-success:hover {
    background-color: var(--btn-create-hover);
}

.modal-footer .btn-secondary {
    background-color: var(--border-color);
    border: none;
}

.modal-footer .btn-secondary:hover {
    background-color: var(--text-light-color);
}

.achievement-title {
    color: var(--linkedin-btn-bg-color);
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

/* Add Achievement Container */
.add-achievement-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Responsive Adjustments */
.table-responsive {
    overflow-x: auto;
}

@media (max-width: 576px) {
    .achievement-title {
        font-size: 1.5rem;
    }

    .table th,
    .table td {
        font-size: 1rem;
        padding: 5px;
        white-space: nowrap;
    }

    .btn-add {
        font-size: 1.2rem;
        padding: 10px;
        width: 100%;
    }

    .modal-dialog {
        width: 90%;
    }

    .modal-content {
        font-size: 0.9rem;
    }
}