:root {
    --main-color: #4682b4;
    --white-color: #fff;
    --black-color: #181818;
    --text-color: #181818;
}

.btn_login {
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 14px 40px;
    font-size: 0.9rem;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.2s ease;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 1);
}

.btn_login:hover {
    opacity: 1;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn_login:active {
    transform: translateY(25px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.img-welcomeheader {
    display: flex;
    width: auto;
    height: 25%;
}

.course-card {
    border: none;
    border-radius: 15px;
    transition: transform 0.2s;
}

    .course-card:hover {
        transform: scale(1.05);
    }

    .course-card img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

.card-body {
    background-color: var(--white-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-text {
    color: var(--text-color);
}

.companies {
    border-top: 1px solid var(--text-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.companies-pic {
    border-bottom: 1px solid var(--text-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.diverse-course img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s;
}

    .diverse-course img:hover {
        transform: scale(1.1);
    }

.header-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.column {
    flex: 1;
    min-width: 200px;
}

.col-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-content h1 {
    font-size: 18px;
    text-align: center;
}

.robot-img {
    width: 50px;
    position: absolute;
    margin-bottom: 200px;
    margin-top: 150px;
    right: 20px;
}

@media (max-width: 576px) {
    .header-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .robot-img {
        width: 50px;
        margin-top: 475px;
        position: absolute;
        right: 1px;
    }

    .header-section h1 {
        font-size: 1.2rem;
    }

    .column {
        width: 100%;
        margin-bottom: 15px;
    }

    .diverse-course img {
        width: 100px;
        height: 100px;
    }

        .diverse-course img:hover {
            transform: scale(1.1);
        }

    .course-card:hover {
        transform: scale(1.05);
    }

    .achievementPic {
        align-items: center;
        justify-content: center;
    }

    .trainingBar {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 390px) {
    .header-section {
        padding: 10px;
        gap: 5px;
    }

    .column {
        margin-bottom: 10px;
    }

    .robot-img {
        width: 50px;
    }

    .header-section h1 {
        font-size: 1rem;
    }

    .course-card {
        margin-bottom: 20px;
    }

    .profile-pic {
        width: 60px;
        height: 60px;
    }

    .card-title {
        font-size: 0.9rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .progress-bar {
        font-size: 0.7rem;
    }
}