body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
}

.main-header {
    font-size: 1.8rem;
    color: var(--primary-color);
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.course-details h2 {
    color: var(--black-color);
}

.learning-outcome {
    background-color: var(--light-blue);
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.course-part {
    cursor: pointer;
}

.rating-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-section img {
    width: 300px;
    margin-bottom: 20px;
}

.feedback-section .stars {
    color: var(--star-default-color);
    margin-bottom: 15px;
}

.feedback-section .stars i {
    color: var(--star-default-color);
    cursor: pointer;
}

.feedback-section .stars i.selected {
    color: var(--star-color);
}

.header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: auto;
}

.stars {
    color: var(--star-default-color);
}

.stars i.selected {
    color: var(--star-color);
}

.pagination .page-item.active .page-link {
    background-color: var(--star-color);
    border-color: var(--star-color);
}

.pagination .page-item .page-link {
    color: var(--star-default-color);
}

.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover {
    color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.feedback-section .comment-input {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.price  {
    color: var(--white-color);
}
.btn{
    font-size: large;
}






